<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="Rigid 17" type="fixed">
        <origin xyz="-0.006126 -0.313823 0.091838" rpy="0 0 -0.75"/>
        <parent link="base_link"/>
        <child link="lidar_1"/>
      </joint>

    <link name="lidar_1">
        <inertial>
          <origin xyz="0.003062764224799069 0.036911727731188615 0.014080953287975456" rpy="0 0 0"/>
          <mass value="0.3945840372908781"/>
          <inertia ixx="9.2e-05" iyy="9.2e-05" izz="7.9e-05" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
        </inertial>
        <visual>
          <origin xyz="0.006126 0.313823 -0.091838" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find assem1_description)/meshes/lidar_1.STL" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="red"/>
        </visual>
        <collision>
          <origin xyz="0.006126 0.313823 -0.091838" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find assem1_description)/meshes/lidar_1.STL" scale="0.001 0.001 0.001"/>
          </geometry>
        </collision>
      </link>

    <gazebo reference="lidar_1">
        <material>Gazebo/Red</material>

        <sensor name="laser" type="ray">
            <pose>true</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>1.57</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>lidar_1</frame_name>
            </plugin>
        </sensor>
    </gazebo>  
</robot>